# .NET build/output directories
# Ignorar archivos de compilación locales
/bin/
/obj/
/staticwebassets.*.json

# Visual Studio cache/options
.vs/
.vscode/
*.user
*.suo
*.userprefs
*.userosscache

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet packages
*.nupkg
.nuget/
NuGet.exe
packages/

# MSBuild
*.csproj.user
*.csproj.*.user
*.msbuild.*
_ReSharper.*
*.sln.ide

# Static Web Assets
staticwebassets.build.json
staticwebassets.development.json
staticwebassets.build.endpoints.json

# Rider IDE
.idea/
*.sln.iml

# VS Code
.history/